.cross-validation-error input {
  border-left: 5px solid #a94442;
}

::ng-deep mat-form-field {
    color: green!important;
  }
  
  ::ng-deep mat-form-field  .mat-form-field-label {
    color: green!important;
  }
  
  ::ng-deep mat-form-field .mat-form-field-underline {
    background-color: #868686!important;
  }
  
  ::ng-deep mat-form-field .mat-input-element {
    caret-color: #157cfc!important;
  }
  
  ::ng-deep mat-form-field .mat-form-field-ripple {
    background-color: #157cfc!important;
  }

  .example-full-width {
    width: 100%;
  }