<div class="card-group">
    <a href="/admin/charitylist" class="btn">
    <div class="card">
        <div class="card-body">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Charity List</div>
        <div class="card-body">
          <h5 class="card-title">Manage Charity</h5>
          <p class="card-text">Edit/Delete/Approve Charities.</p>
        </div>
      </div>
        </div>
    </div>
</a>
<a href="#" class="btn">
    <div class="card">
        <div class="card-body">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Reports</div>
        <div class="card-body">
          <h5 class="card-title">View Reports</h5>
          <p class="card-text">View reports for charities.</p>
        </div>
      </div>
        </div>
    </div>
</a>
</div>