<div class="card-group">
    <a href="/charity/users" class="btn">
        <div class="card">
            <div class="card-body">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">User Management</div>
                    <i class="fa fa-circle fa-stack-3x" aria-hidden="true"></i>
                    <div class="card-body">
                        <h5 class="card-title">Manage User</h5>
                        <p class="card-text">Add/Edit/Delete/ Users.</p>

                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="/charity/edit" class="btn">
        <div class="card">
            <div class="card-body">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Edit Charity Details</div>
                    <div class="card-body">
                        <h5 class="card-title">Edit Charity Details</h5>
                        <p class="card-text">Edit the details about charity.</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>