<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Charity List</li>
    </ol>
  </nav>

<form>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">EDIT</th>
      <th scope="col">ACTION</th>
      <th scope="col">NAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">SUBURB</th>
      <th scope="col">STATE</th>
      <th scope="col">POSTCODE</th>
      <th scope="col">APPROVED</th>
      <th scope="col">SUBSCRIPTION</th>
      <th scope="col">DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let charity of charityList | async; index as i">
      <th scope="row">{{ charity.ID }}</th>
      <td><button type="button" class="btn btn-primary">Edit</button></td>
      <td><button (click)="onUpdateClick(charity)" type="button" class="btn btn-primary">Approve</button></td>
      <td>
        <ngb-highlight [result]="charity.Name" [term]="filter.value"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="charity.Email" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="charity.Suburb" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="charity.State" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="charity.Postcode | numberToString" [term]="filter.value"></ngb-highlight></td>
      <td>{{charity.Approved}}</td>
      <td>{{charity.SubScriptionName}}</td>
      <td><button (click)="onDeleteClick(charity.ID)" type="button" class="btn btn-danger">Delete</button></td>
    </tr>
    </tbody>
    
  </table>